:root {
  --aqua: #1da396;
  --aqua-dark: #0f6e5b;
  --sky: #92cbd4;
  --sky-dark: #6b9fa0;
  --text: #186163;
  --text-light: #1da396;
  --border: #10755d;
}
html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(../img/bg-body.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100%;
}
.titulo {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  background-color: var(--aqua) !important;
  border-color: var(--border) !important;
}
.container {
    background-color: white;
}
.bg-image{
    background-image: url(../img/bg-body.jpg);
    background-size: cover;
    background-position: center;
}
.card{
  opacity: 0.89;
  transition: all 0.4s ease-in-out;
}
.card:hover{
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
textarea {
    height: 140px!important;
}


/* DVs07 */
.rationale-regular {
  font-family: "Rationale", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.libre-barcode-128-text-regular {
  font-family: "Libre Barcode 128 Text", system-ui;
  font-weight: 400;
  font-style: normal;
}

.anek-tamil-regular {
  font-family: "Anek Tamil", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
} 
h2{
  font-size: 1.2rem;
  padding: 6.49px;
  color: var(--text);
}
legend{
  font-size: 1.2rem;
  padding: 3.5px;
  color: var(--text);
}
.border-bottom{
  border-bottom: 1px solid var(--sky-dark) !important;
}
.border-color{
  border-color: var(--sky-dark) !important;
}
.btn-custom{
  background-color: var(--aqua);
  border-color: var(--aqua-dark);
}
.btn-custom:hover{
  background-color: var(--aqua-dark);
  border-color: var(--aqua-dark);
}
.btn-custom:focus{
  background-color: var(--aqua-dark);
  border-color: var(--aqua-dark);
}
.sky{
  background-color: var(--sky);
  border-color: var(--sky-dark);
}
.font-size-normal{
  font-size: 1rem;
}
.placeholder-normal{
  font-size: .97rem;
}
.form-group{
  margin-bottom: .3rem;
}
.no-padding{
  padding: 0 !important;
}
.text-card-header{
  font-size: 1.2rem;
}
.mb-custom{
  margin-bottom: .2rem;
}
.pd-custom{
  padding: 2rem;
}
.overflow-custom{
  overflow-y: scroll;
  height: 539px;
  padding-bottom: 15px;
}
.card{
  height: 291px;
}
footer{
  background-color: var(--aqua);
  color: white;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .h2-mobile {
    font-size: 1.7rem !important;
  }
  .font-size-mobile {
    font-size: 1rem !important;
  }
  .placeholder-mobile {
    font-size: .95rem !important;
  }
  .btn{
    margin-bottom: 1rem !important;
  }
}