:root {
  --aqua: #1da396;
  --aqua-dark: #0f6e5b;
  --sky: #92cbd4;
  --sky-dark: #6b9fa0;
  --text: #186163;
  --text-light: #1da396;
  --border: #10755d;
}
html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(../img/bg-body.jpg);
  min-height: 100%;
  padding-bottom: 5rem;
}
.titulo {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  background-color: var(--aqua) !important;
  border-color: var(--border) !important;
}
.container {
    background-color: white;
}
header {
  margin-top: 3rem;
}
header h1 {
  color: white;
}
.lista-citas .cita {
  border-bottom: 1px solid #e1e1e1;
  padding: 2rem;
  padding-bottom: 3rem;
  
}
.lista-citas .cita:last-of-type {
  border-bottom: 0;
}

.lista-citas .cita p {
  margin:0;
}
.lista-citas .cita button {
  margin-top: 1rem!important;
}
.lista-citas .cita span {
  font-weight: bold;
}
textarea {
    height: 200px!important;
}

svg {
  width: 21px;
}

/* DVs07 */
.rationale-regular {
  font-family: "Rationale", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.libre-barcode-128-text-regular {
  font-family: "Libre Barcode 128 Text", system-ui;
  font-weight: 400;
  font-style: normal;
}

.anek-tamil-regular {
  font-family: "Anek Tamil", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
} 
h2{
  font-size: 1.5rem;
  padding: 3.6px;
  color: var(--text);
}
legend{
  color: var(--text);
}
.btn{
  background-color: var(--aqua);
  border-color: var(--aqua-dark);
}
.btn:hover{
  background-color: var(--aqua-dark);
  border-color: var(--aqua-dark);
}
.sky{
  background-color: var(--sky);
  border-color: var(--sky-dark);
}
.font-size-normal{
  font-size: 1rem;
}
.placeholder-normal{
  font-size: .97rem;
}
@media screen and (max-width: 600px) {
  .h2-mobile {
    font-size: 1.7rem !important;
  }
  .font-size-mobile {
    font-size: .97rem !important;
  }
  .placeholder-mobile {
    font-size: .92rem !important;
  }
}